#pageTitle{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size:60px;
    font-weight:bold;
    color: #6ea328;
    text-shadow: 2px 2px #3d3d3d;
    
    }
#resultTitle{
    margin-top: 25px;
    font-size:50px;
    font-weight:bold;
    color: #6ea328;
    text-shadow: 2px 2px #3d3d3d;
    
    }    
#results{
    margin-top: 5px;
    font-size:20px;
    font-weight:bold;
    color: #fff;
    text-shadow: 2px 2px #3d3d3d;
    
    }  
#box{
     float:left;
     height: 100%;
     width: 100%;
}
#box2{
     position: relative;
     height: 100%;
     width: 100%;
     z-index: 99;
}  
/* #transbox{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    z-index:1;
} */
input::placeholder {
    color: #fff !important;
    opacity: 1;
}
body {
    background-image: url("addition-black-and-white-black-and-white-374918.jpg");
    background-color: #000;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
